

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
Theme Name: Landing Page Kenzie Academy
Theme URI: https://kenzie.com.br/
Author: Kenzie Academy 
Author URI: https://kenzie.com.br/
Description: Descrção do thema.
Version: 1.0
Text Domain: https://kenzie.com.br/

--------------------------------------------
ESTRUTURAÇÃO BASE
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** HEADER
**** FOOTER
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

family=Montserrat -> Menus
family=Lato -> Títulos, textos
*/

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FONTS */

/* VARIÁVEIS */
:root{}
  
/* GERAL */
html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    box-sizing: ;
}
img{
    max-width: 800px;
}
div.flex{
    display: flex;
    width: 100%;
}
div.full-container{
    width: 100%;
    max-width: 1850px;
    margin:0 auto;
}
div.large-container{
    width: 100%;
    max-width: 1170px;
    margin:0 auto;
}
div.container{
    width: 100vw;
    max-width: 1140px;
    padding:0 30px;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* GERAL */
  
/* HTML */
html{}
/* HTML */
  
/* BODY */
body{
    width: 100vw;
    background-color: #14141435;
}
/* BODY */

/* HEADER */
header{
    width: 100%;
    padding-top: 20px;
}
header div.container div.flex {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/*----logo----*/
.logo{
    width: 25%;
    max-width: 70px;
}

figcaption{
    visibility: hidden;
}
figure{
    height: fit-content;
}
/*----menu----*/
.abrir-submenu {
    color: white;

}
.submenu-escondido {
    display: none;
}

/*---pesquisar----*/
.menu-usuario {
    color:white;
}
.pesquisar{
    text-align: start;
}
.pesquisar img{
    height: 15px;
    transform: rotate(90deg);
    object-fit: contain;
    background-color: blue;
}
.usuario {

}
/* HEADER */
  
/* FOOTER */
footer{
    width: ;
}
div.footer-container{
    width: 100vw;
    max-width: 1140px;
    padding:0 30px;
}
.footer-flex{
    display: flex;
    flex-flow: column nowrap;
}
footer a{
    color:gray;
    text-decoration: none;
    
}
.footer-links {
    display: grid;
    grid-gap:15px;
}
.footer-links li{
    font-size: 13px;
    padding: 5px 20px 5px 0;
}
li{
    grid-column: ;
}



.redes-sociais {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.redes-sociais li{
    padding-right: 20px;
}
.redes-sociais img{
    width: 20px;
}
.copyright {
    color: gray;
    font-size: 11px;
}

/* FOOTER */

/* INICIAL */
main{}
/* INICIAL */

/* EXTRAS */


/* para estilizar a scrollbar */
::-webkit-scrollbar{}
::-webkit-scrollbar-button{}
::-webkit-scrollbar-track{}
::-webkit-scrollbar-track-piece{}
::-webkit-scrollbar-thumb{}
::-webkit-scrollbar-corner{}
::-webkit-resizer{}

/* EXTRAS */
  

/* MEDIA QUERIES */
    @media screen and (min-width: 400px) {
    div.container{
        max-width: 1735px;
        margin: 0 60px;
    }
}
    @media screen and (min-width: 800px) {

        .logo {
            max-width: 92px;
        }


    }
/* MEDIA QUERIES */
